.containerd{
    padding: 60px;
    display: flex;
    flex-direction: column;
}
.link{
    background: rgba(54, 52, 52, 0.438);
    color: aliceblue;
    padding: 5px 8px;
    border-radius: 20%;
}
.link:hover{
    background: rgb(9, 9, 104)
}

.contend_card{
    border: 2px solid black;
    display: flex;
    width: 100%;
}

.contend_card{
    width: 100%;
}

.contend_card_img{
    height: 200px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contend_card_img img{
    width: 240px;
    height: 180px;
    object-fit: cover;
}

.contend_card_datos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    padding: 0.2% 1.2%;
    height: 200px;
    width: 100%;
}

.contend_summary{
    border: 2px solid rgb(19, 18, 18);
    width: 100%;
    padding: 15px 25px;
    text-align: center;
    margin: 10px 0;
}

.content_steps{
    
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 15px;
}

.step_card{
    border: 2px solid black;
    background: rgba(198, 224, 101, 0.466);
    width: 33%;
    padding: 5px;
    text-align: start;
}