.containerd{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    background-color: aqua;
}

.contend_card{
    background: green;
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
}

/* .contend_card_img{
    
} */
.contend_card_datos{
    background: red;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    padding: 0.2% 1.2%;
}

.contend_summary_steps{
    display: flex;
}

.contend_summary{
    background: gold;
    width: 30%;
    padding: 25px;
    text-align: center;
}

.content_steps{
    background: red;
    width: 70%;
    display: flex;
    flex-wrap: wrap;

}
.content_steps h1{
    width: 100%;
}
.step_card{
    border: 2px solid black;
    width: 25%;
    padding: 5px;
}