.container{
    background-image: url('../../assets/Home.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    max-height: max-content;
    padding-top: 70px;
}
.content_cards{
    display: flex;
    flex-wrap: wrap;
justify-content: space-evenly;
    width: 100%;
}