.content_buscador {
  display: flex;
  height: 35px;
  font-family: Arial, Helvetica, sans-serif;
}
.buscador {
  width: 100%;
  color:  #f0f0f1;
  font-size: 16px;
  border: 1px solid #08070ebb;
  border-radius: 16px 0 0 16px;
  background: rgba(7, 6, 6, 0.384);
  padding-left: 5px;
}
.search_button {
  padding: 0.5em ;
  border: none;
  border-radius: 0 16px 16px 0;
  background: rgba(7, 6, 6, 0.384);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  top: 4px;
  width: 20%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #08070ebb;
}

.search_button:hover {
  background-color: #5e5dcd;
}

.buscador:focus,
.buscador:focus-visible {
  border-color: #3898ec;
  outline: none;
}

#img_search{
  height: 33px;
  object-fit: contain;
}
