.containerd {
  border: 2px solid rgb(0, 0, 0);
  width: 380px;
  height: 230px;
  margin-bottom: 3em;
  overflow: hidden;
  background-image: url("../../assets/card.jpg");
  cursor: pointer;
  display: flex;
  flex-direction: column;
  transition: 0.3ms;
}
.containerd:hover {
  box-shadow: -1px -1px 238px -10px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px -1px 238px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px -1px 238px -10px rgba(0, 0, 0, 0.75);
  transform: translateY(-13px);
}

.content_name {
  min-height: 50px;
  width: 100%;
}

.content_img_diets {
  /*     border: 2px solid gray; */
  display: flex;
  justify-content: space-between;
}

/* .content_img {
 width: 60%;
  height: 180px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.content_img img {
  width: 190px;
  height: 145px;
  object-fit: cover;
  object-position: center;
  border: 2px solid black;
  margin-left: 0px;
  position: relative;
}
.content_img h6{

} */

.content_img {
  position: relative;
  width: 60%;
  height: 180px;
}

.content_img img {
  width: 190px;
  height: 145px;
  object-fit: cover;
  object-position: center;
  border: 2px solid black;
  margin-left: 0px;
}

.content_img h6 {
  position: absolute;
  bottom: 40px;
  right: 25px;
  background-color: #dbd0d0b0;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(15, 15, 15);
  padding: 5px;
  border-radius: 5px;
}

.content_diets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  width: 40%;
}
